html {
  scrollbar-width: thin;
  scrollbar-color: #8d7bdc #e7e7e7;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8d7bdc;
  border: 2px solid #fff;
  border-radius: 10px;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a {
  text-decoration: none;
}
