html {
  scrollbar-width: thin;
  scrollbar-color: #8d7bdc #fff;
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #8d7bdc;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a {
  text-decoration: none;
}

.carousel-full-height {
  height: 100%;
}

.carousel-full-height :is(.carousel-slider, .slider-wrapper, .slider) {
  height: 100%;
}
